In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("ACCGames1819.csv")

In [3]:
data.head()

,GameDate,NeutralSite,AwayTeam,AwayScore,AwayAST,AwayTOV,AwaySTL,AwayBLK,AwayRebounds,AwayORB,...,HomeRebounds,HomeORB,HomeDRB,HomeFGA,HomeFGM,Home3FGM,Home3FGA,HomeFTA,HomeFTM,HomeFouls
0,01-01-2019 13:00,0,Notre Dame Fighting Irish,66,13,11,2,5,30,13,...,24,2,22,55,33,11,18,5,4,13
1,01-03-2019 19:00,0,North Carolina State Wolfpack,87,17,16,4,3,50,17,...,27,9,18,61,28,10,25,29,16,14
2,01-05-2019 03:27,0,Clemson Tigers,68,14,16,6,2,35,9,...,39,12,27,67,32,7,23,21,16,15
3,01-05-2019 12:00,0,Boston College Eagles,66,10,12,4,2,25,5,...,31,8,23,54,25,6,22,25,21,18
4,01-05-2019 12:00,0,Syracuse Orange,72,11,9,4,3,43,13,...,35,9,26,58,20,11,33,17,11,12

In [4]:
away = data.iloc[:,2:18]

# Calculating away team's offensive efficiency for each game

In [5]:
data['off_e_away'] = data.apply(lambda x: (x.AwayScore)/(x.AwayFGA - x.AwayORB + x.AwayTOV + (.475*x.AwayFTA)),axis=1)

In [6]:
data['off_e_away'].head()

0    1.096801
1    1.151555
2    0.898283
3    0.986916
4    1.084746
Name: off_e_away, dtype: float64

# Calculating away team's defensive efficiency for each game

In [7]:
data['def_e_away'] = data.apply(lambda x:(x.HomeScore)/(x.HomeFGA - x.HomeORB + x.HomeTOV + (.475*x.HomeFTA)),axis=1)

In [8]:
data['def_e_away'].head()

0    1.298597
1    1.126761
2    1.130237
3    1.117967
4    0.924338
Name: def_e_away, dtype: float64

In [9]:
data['net_away_efficiency'] = data['off_e_away'] - data['def_e_away']

In [10]:
data['net_away_efficiency']

0     -0.201796
1      0.024795
2     -0.231954
3     -0.131051
4      0.160407
5      0.363906
6     -0.242242
7     -0.192244
8     -0.220508
9      0.336079
10     0.077680
11     0.004238
12    -0.106467
13    -0.075632
14    -0.091662
15     0.425927
16    -0.028441
17     0.291737
18     0.333839
19    -0.039996
20    -0.011110
21    -0.255381
22     0.247904
23     0.019247
24    -0.128677
25    -0.122874
26    -0.353536
27    -0.071468
28    -0.189041
29    -0.215124
         ...
119   -0.212352
120   -0.020416
121    0.410289
122   -0.017281
123   -0.128838
124   -0.167328
125    0.179594
126   -0.014695
127    0.080648
128   -0.197386
129   -0.097934
130   -0.107358
131   -0.083336
132    0.203366
133    0.349830
134   -0.113979
135   -0.143789
136    0.062414
137    0.091835
138   -0.008840
139   -0.288444
140   -0.379576
141   -0.183279
142   -0.366581
143   -0.042810
144   -0.154789
145   -0.093536
146    0.248925
147   -0.000650
148   -0.136180
Name: net_away_efficiency, Length: 149, dtype: float64

# Calculating home team's offensive and defensive efficiency for each game

In [11]:
data['off_e_home'] = data.apply(lambda x: (x.HomeScore)/(x.HomeFGA - x.HomeORB + x.HomeTOV + (.475*x.HomeFTA)),axis=1)

In [12]:
data['off_e_away'].head()

0    1.096801
1    1.151555
2    0.898283
3    0.986916
4    1.084746
Name: off_e_away, dtype: float64

In [13]:
data['def_e_home'] = data.apply(lambda x:(x.AwayScore)/(x.AwayFGA - x.AwayORB + x.AwayTOV + (.475*x.AwayFTA)),axis=1)

In [14]:
data['def_e_home'].head()

0    1.096801
1    1.151555
2    0.898283
3    0.986916
4    1.084746
Name: def_e_home, dtype: float64

In [15]:
data['net_home_efficiency'] = data['off_e_home'] - data['def_e_home']

In [16]:
data['net_home_efficiency']

0      0.201796
1     -0.024795
2      0.231954
3      0.131051
4     -0.160407
5     -0.363906
6      0.242242
7      0.192244
8      0.220508
9     -0.336079
10    -0.077680
11    -0.004238
12     0.106467
13     0.075632
14     0.091662
15    -0.425927
16     0.028441
17    -0.291737
18    -0.333839
19     0.039996
20     0.011110
21     0.255381
22    -0.247904
23    -0.019247
24     0.128677
25     0.122874
26     0.353536
27     0.071468
28     0.189041
29     0.215124
         ...
119    0.212352
120    0.020416
121   -0.410289
122    0.017281
123    0.128838
124    0.167328
125   -0.179594
126    0.014695
127   -0.080648
128    0.197386
129    0.097934
130    0.107358
131    0.083336
132   -0.203366
133   -0.349830
134    0.113979
135    0.143789
136   -0.062414
137   -0.091835
138    0.008840
139    0.288444
140    0.379576
141    0.183279
142    0.366581
143    0.042810
144    0.154789
145    0.093536
146   -0.248925
147    0.000650
148    0.136180
Name: net_home_efficiency, Length: 149, dtype: float64

In [17]:
r_p = data[['AwayTeam','net_away_efficiency','HomeTeam','net_home_efficiency']]

In [18]:
r_p

,AwayTeam,net_away_efficiency,HomeTeam,net_home_efficiency
0,Notre Dame Fighting Irish,-0.201796,Virginia Tech Hokies,0.201796
1,North Carolina State Wolfpack,0.024795,Miami (FL) Hurricanes,-0.024795
2,Clemson Tigers,-0.231954,Duke Blue Devils,0.231954
3,Boston College Eagles,-0.131051,Virginia Tech Hokies,0.131051
4,Syracuse Orange,0.160407,Notre Dame Fighting Irish,-0.160407
5,North Carolina Tar Heels,0.363906,Pittsburgh Panthers,-0.363906
6,Wake Forest Demon Deacons,-0.242242,Georgia Tech Yellow Jackets,0.242242
7,Florida State Seminoles,-0.192244,Virginia Cavaliers,0.192244
8,Miami (FL) Hurricanes,-0.220508,Louisville Cardinals,0.220508
9,Duke Blue Devils,0.336079,Wake Forest Demon Deacons,-0.336079
10,North Carolina Tar Heels,0.077680,North Carolina State Wolfpack,-0.077680
11,Virginia Tech Hokies,0.004238,Georgia Tech Yellow Jackets,-0.004238
12,Clemson Tigers,-0.106467,Syracuse Orange,0.106467
13,Louisville Cardinals,-0.075632,Pittsburgh Panthers,0.075632
14,Miami (FL) Hurricanes,-0.091662,Florida State Seminoles,0.091662
15,Virginia Cavaliers,0.425927,Boston College Eagles,-0.425927
16,Pittsburgh Panthers,-0.028441,North Carolina State Wolfpack,0.028441
17,Louisville Cardinals,0.291737,North Carolina Tar Heels,-0.291737
18,Virginia Cavaliers,0.333839,Clemson Tigers,-0.333839
19,Boston College Eagles,-0.039996,Notre Dame Fighting Irish,0.039996
20,Duke Blue Devils,-0.011110,Florida State Seminoles,0.011110
21,Wake Forest Demon Deacons,-0.255381,Miami (FL) Hurricanes,0.255381
22,Georgia Tech Yellow Jackets,0.247904,Syracuse Orange,-0.247904
23,Syracuse Orange,0.019247,Duke Blue Devils,-0.019247
24,Florida State Seminoles,-0.128677,Pittsburgh Panthers,0.128677
25,North Carolina State Wolfpack,-0.122874,Wake Forest Demon Deacons,0.122874
26,Virginia Tech Hokies,-0.353536,Virginia Cavaliers,0.353536
27,Notre Dame Fighting Irish,-0.071468,North Carolina Tar Heels,0.071468
28,Boston College Eagles,-0.189041,Louisville Cardinals,0.189041
29,Georgia Tech Yellow Jackets,-0.215124,Clemson Tigers,0.215124
...,...,...,...,...
119,Notre Dame Fighting Irish,-0.212352,Louisville Cardinals,0.212352
120,Boston College Eagles,-0.020416,Georgia Tech Yellow Jackets,0.020416
121,Virginia Cavaliers,0.410289,Syracuse Orange,-0.410289
122,Wake Forest Demon Deacons,-0.017281,Duke Blue Devils,0.017281
123,Virginia Tech Hokies,-0.128838,Florida State Seminoles,0.128838
124,Pittsburgh Panthers,-0.167328,Miami (FL) Hurricanes,0.167328
125,North Carolina Tar Heels,0.179594,Boston College Eagles,-0.179594
126,Clemson Tigers,-0.014695,Notre Dame Fighting Irish,0.014695
127,Georgia Tech Yellow Jackets,0.080648,North Carolina State Wolfpack,-0.080648
128,Miami (FL) Hurricanes,-0.197386,Virginia Tech Hokies,0.197386
129,Louisville Cardinals,-0.097934,Virginia Cavaliers,0.097934
130,Syracuse Orange,-0.107358,Clemson Tigers,0.107358
131,Notre Dame Fighting Irish,-0.083336,Pittsburgh Panthers,0.083336
132,Florida State Seminoles,0.203366,Wake Forest Demon Deacons,-0.203366
133,North Carolina State Wolfpack,0.349830,Boston College Eagles,-0.349830
134,Duke Blue Devils,-0.113979,North Carolina Tar Heels,0.113979
135,Wake Forest Demon Deacons,-0.143789,Miami (FL) Hurricanes,0.143789
136,Notre Dame Fighting Irish,0.062414,Georgia Tech Yellow Jackets,-0.062414
137,Pittsburgh Panthers,0.091835,Boston College Eagles,-0.091835
138,Clemson Tigers,-0.008840,North Carolina State Wolfpack,0.008840
139,Miami (FL) Hurricanes,-0.288444,Virginia Tech Hokies,0.288444
140,Notre Dame Fighting Irish,-0.379576,Louisville Cardinals,0.379576
141,Pittsburgh Panthers,-0.183279,Syracuse Orange,0.183279
142,North Carolina State Wolfpack,-0.366581,Virginia Cavaliers,0.366581
143,Virginia Tech Hokies,-0.042810,Florida State Seminoles,0.042810
144,Louisville Cardinals,-0.154789,North Carolina Tar Heels,0.154789
145,Syracuse Orange,-0.093536,Duke Blue Devils,0.093536
146,Florida State Seminoles,0.248925,Virginia Cavaliers,-0.248925
147,Duke Blue Devils,-0.000650,North Carolina Tar Heels,0.000650
148,Florida State Seminoles,-0.136180,Duke Blue Devils,0.136180

In [19]:
apts=r_p.groupby(['AwayTeam']).sum()
apts=apts.drop(['net_home_efficiency'],axis=1)

In [20]:
apts

                               net_away_efficiency
AwayTeam
Boston College Eagles                    -1.176568
Clemson Tigers                           -0.040800
Duke Blue Devils                          1.004353
Florida State Seminoles                   0.619006
Georgia Tech Yellow Jackets              -1.284872
Louisville Cardinals                      0.441126
Miami (FL) Hurricanes                    -1.832184
North Carolina State Wolfpack            -0.517166
North Carolina Tar Heels                  1.855814
Notre Dame Fighting Irish                -1.278993
Pittsburgh Panthers                      -1.652023
Syracuse Orange                          -0.135405
Virginia Cavaliers                        2.179449
Virginia Tech Hokies                      0.206242
Wake Forest Demon Deacons                -2.143340

In [21]:
hpts=r_p.groupby(['HomeTeam']).sum()
hpts=hpts.drop(['net_away_efficiency'],axis=1)

In [22]:
hpts

                               net_home_efficiency
HomeTeam
Boston College Eagles                    -0.663346
Clemson Tigers                            0.721326
Duke Blue Devils                          1.419716
Florida State Seminoles                   1.177491
Georgia Tech Yellow Jackets              -0.808319
Louisville Cardinals                      1.005310
Miami (FL) Hurricanes                     0.662595
North Carolina State Wolfpack            -0.266206
North Carolina Tar Heels                  0.564955
Notre Dame Fighting Irish                -1.123358
Pittsburgh Panthers                      -0.865539
Syracuse Orange                           0.352670
Virginia Cavaliers                        2.036226
Virginia Tech Hokies                      1.484145
Wake Forest Demon Deacons                -1.942302

In [23]:
hpts.reset_index(inplace=True)
apts.reset_index(inplace=True)

In [24]:
hpts.head()

                      HomeTeam  net_home_efficiency
0        Boston College Eagles            -0.663346
1               Clemson Tigers             0.721326
2             Duke Blue Devils             1.419716
3      Florida State Seminoles             1.177491
4  Georgia Tech Yellow Jackets            -0.808319

In [25]:
overall = pd.concat([hpts,apts],axis=1)

In [26]:
overall['Total_Efficiency'] = overall['net_home_efficiency'] + overall['net_away_efficiency']

In [27]:
overall=overall.drop(columns=['net_home_efficiency','net_away_efficiency','AwayTeam'],axis=1)

In [28]:
final = overall.sort_values(by=['Total_Efficiency'],ascending=False)

In [29]:
final['Rank'] = final['Total_Efficiency'].rank(method='dense', ascending=False)

# Ranks based on overall efficiency

In [30]:
final

                         HomeTeam  Total_Efficiency  Rank
12             Virginia Cavaliers          4.215675   1.0
2                Duke Blue Devils          2.424069   2.0
8        North Carolina Tar Heels          2.420768   3.0
3         Florida State Seminoles          1.796496   4.0
13           Virginia Tech Hokies          1.690387   5.0
5            Louisville Cardinals          1.446436   6.0
1                  Clemson Tigers          0.680526   7.0
11                Syracuse Orange          0.217265   8.0
7   North Carolina State Wolfpack         -0.783373   9.0
6           Miami (FL) Hurricanes         -1.169589  10.0
0           Boston College Eagles         -1.839914  11.0
4     Georgia Tech Yellow Jackets         -2.093191  12.0
9       Notre Dame Fighting Irish         -2.402352  13.0
10            Pittsburgh Panthers         -2.517563  14.0
14      Wake Forest Demon Deacons         -4.085642  15.0

In [31]:
r = final['Rank']
final.drop(labels=['Rank'],axis=1,inplace=True)
final.insert(0,'Rank',r)
final

    Rank                       HomeTeam  Total_Efficiency
12   1.0             Virginia Cavaliers          4.215675
2    2.0               Duke Blue Devils          2.424069
8    3.0       North Carolina Tar Heels          2.420768
3    4.0        Florida State Seminoles          1.796496
13   5.0           Virginia Tech Hokies          1.690387
5    6.0           Louisville Cardinals          1.446436
1    7.0                 Clemson Tigers          0.680526
11   8.0                Syracuse Orange          0.217265
7    9.0  North Carolina State Wolfpack         -0.783373
6   10.0          Miami (FL) Hurricanes         -1.169589
0   11.0          Boston College Eagles         -1.839914
4   12.0    Georgia Tech Yellow Jackets         -2.093191
9   13.0      Notre Dame Fighting Irish         -2.402352
10  14.0            Pittsburgh Panthers         -2.517563
14  15.0      Wake Forest Demon Deacons         -4.085642

In [32]:
final.reset_index(inplace=True)

In [33]:
final.drop(labels=['index'],axis=1,inplace=True)

In [34]:
final

    Rank                       HomeTeam  Total_Efficiency
0    1.0             Virginia Cavaliers          4.215675
1    2.0               Duke Blue Devils          2.424069
2    3.0       North Carolina Tar Heels          2.420768
3    4.0        Florida State Seminoles          1.796496
4    5.0           Virginia Tech Hokies          1.690387
5    6.0           Louisville Cardinals          1.446436
6    7.0                 Clemson Tigers          0.680526
7    8.0                Syracuse Orange          0.217265
8    9.0  North Carolina State Wolfpack         -0.783373
9   10.0          Miami (FL) Hurricanes         -1.169589
10  11.0          Boston College Eagles         -1.839914
11  12.0    Georgia Tech Yellow Jackets         -2.093191
12  13.0      Notre Dame Fighting Irish         -2.402352
13  14.0            Pittsburgh Panthers         -2.517563
14  15.0      Wake Forest Demon Deacons         -4.085642

# Calculating number of wins for each team

In [35]:
data['Results'] = data.apply(lambda x: int(x['HomeScore'] > x['AwayScore']), axis=1)

In [36]:
data['Wteam'] = np.where(data['Results'] == 1, data['HomeTeam'],data['AwayTeam'])

In [37]:
w = data['Wteam']
w = pd.DataFrame(w)

In [38]:
w

                             Wteam
0             Virginia Tech Hokies
1    North Carolina State Wolfpack
2                 Duke Blue Devils
3             Virginia Tech Hokies
4                  Syracuse Orange
5         North Carolina Tar Heels
6      Georgia Tech Yellow Jackets
7               Virginia Cavaliers
8             Louisville Cardinals
9                 Duke Blue Devils
10        North Carolina Tar Heels
11            Virginia Tech Hokies
12                 Syracuse Orange
13             Pittsburgh Panthers
14         Florida State Seminoles
15              Virginia Cavaliers
16   North Carolina State Wolfpack
17            Louisville Cardinals
18              Virginia Cavaliers
19       Notre Dame Fighting Irish
20                Duke Blue Devils
21           Miami (FL) Hurricanes
22     Georgia Tech Yellow Jackets
23                 Syracuse Orange
24             Pittsburgh Panthers
25       Wake Forest Demon Deacons
26              Virginia Cavaliers
27        North Carolina Tar Heels
28            Louisville Cardinals
29                  Clemson Tigers
..                             ...
119           Louisville Cardinals
120    Georgia Tech Yellow Jackets
121             Virginia Cavaliers
122               Duke Blue Devils
123        Florida State Seminoles
124          Miami (FL) Hurricanes
125       North Carolina Tar Heels
126                 Clemson Tigers
127    Georgia Tech Yellow Jackets
128           Virginia Tech Hokies
129             Virginia Cavaliers
130                 Clemson Tigers
131            Pittsburgh Panthers
132        Florida State Seminoles
133  North Carolina State Wolfpack
134       North Carolina Tar Heels
135          Miami (FL) Hurricanes
136      Notre Dame Fighting Irish
137            Pittsburgh Panthers
138  North Carolina State Wolfpack
139           Virginia Tech Hokies
140           Louisville Cardinals
141                Syracuse Orange
142             Virginia Cavaliers
143        Florida State Seminoles
144       North Carolina Tar Heels
145               Duke Blue Devils
146        Florida State Seminoles
147               Duke Blue Devils
148               Duke Blue Devils

[149 rows x 1 columns]

In [39]:
w_p = w['Wteam'].value_counts()
w_p = pd.DataFrame(w_p)

In [40]:
w_p.reset_index(inplace=True)

In [41]:
w_p.columns = ['Team','Wins']
w_p

                             Team  Wins
0                Duke Blue Devils    17
1              Virginia Cavaliers    17
2        North Carolina Tar Heels    17
3         Florida State Seminoles    15
4            Virginia Tech Hokies    13
5            Louisville Cardinals    11
6                 Syracuse Orange    11
7   North Carolina State Wolfpack    10
8                  Clemson Tigers     9
9     Georgia Tech Yellow Jackets     6
10          Miami (FL) Hurricanes     6
11          Boston College Eagles     5
12      Notre Dame Fighting Irish     4
13      Wake Forest Demon Deacons     4
14            Pittsburgh Panthers     4

# Calculating number of games for each team

In [43]:
wp = data['HomeTeam'].value_counts()

In [44]:
wp = pd.DataFrame(wp)

In [45]:
wp.reset_index(inplace=True)
wp.columns = ['Teams','Games']

In [46]:
wp

                            Teams  Games
0                Duke Blue Devils     11
1              Virginia Cavaliers     11
2        North Carolina Tar Heels     11
3         Florida State Seminoles     10
4            Louisville Cardinals     10
5     Georgia Tech Yellow Jackets     10
6           Boston College Eagles     10
7                 Syracuse Orange     10
8           Miami (FL) Hurricanes     10
9   North Carolina State Wolfpack     10
10           Virginia Tech Hokies     10
11      Notre Dame Fighting Irish      9
12      Wake Forest Demon Deacons      9
13                 Clemson Tigers      9
14            Pittsburgh Panthers      9

In [47]:
wp2 = data['AwayTeam'].value_counts()

In [48]:
wp2 = pd.DataFrame(wp2)

In [49]:
wp2.reset_index(inplace=True)

In [50]:
wp2.columns = ['Teams','Games']

In [51]:
wp2

                            Teams  Games
0         Florida State Seminoles     11
1       Notre Dame Fighting Irish     11
2             Pittsburgh Panthers     11
3                Duke Blue Devils     10
4            Louisville Cardinals     10
5       Wake Forest Demon Deacons     10
6                 Syracuse Orange     10
7   North Carolina State Wolfpack     10
8           Miami (FL) Hurricanes     10
9                  Clemson Tigers     10
10           Virginia Tech Hokies     10
11             Virginia Cavaliers      9
12    Georgia Tech Yellow Jackets      9
13       North Carolina Tar Heels      9
14          Boston College Eagles      9

In [52]:
rating = wp2.groupby('Teams').sum().add(wp.groupby('Teams').sum(), fill_value=0).reset_index()

In [53]:
rating

                            Teams  Games
0           Boston College Eagles     19
1                  Clemson Tigers     19
2                Duke Blue Devils     21
3         Florida State Seminoles     21
4     Georgia Tech Yellow Jackets     19
5            Louisville Cardinals     20
6           Miami (FL) Hurricanes     20
7   North Carolina State Wolfpack     20
8        North Carolina Tar Heels     20
9       Notre Dame Fighting Irish     20
10            Pittsburgh Panthers     20
11                Syracuse Orange     20
12             Virginia Cavaliers     20
13           Virginia Tech Hokies     20
14      Wake Forest Demon Deacons     19

In [54]:
w_p.columns = ['Teams','Wins']

In [55]:
w_p

                            Teams  Wins
0                Duke Blue Devils    17
1              Virginia Cavaliers    17
2        North Carolina Tar Heels    17
3         Florida State Seminoles    15
4            Virginia Tech Hokies    13
5            Louisville Cardinals    11
6                 Syracuse Orange    11
7   North Carolina State Wolfpack    10
8                  Clemson Tigers     9
9     Georgia Tech Yellow Jackets     6
10          Miami (FL) Hurricanes     6
11          Boston College Eagles     5
12      Notre Dame Fighting Irish     4
13      Wake Forest Demon Deacons     4
14            Pittsburgh Panthers     4

# Calculating the rating for each team

In [56]:
comb = pd.merge(rating,w_p,on=["Teams"],how='inner')

In [57]:
comb['Rating'] = comb.apply(lambda x: x.Wins/x.Games,axis=1)

In [58]:
comb

                            Teams  Games  Wins    Rating
0           Boston College Eagles     19     5  0.263158
1                  Clemson Tigers     19     9  0.473684
2                Duke Blue Devils     21    17  0.809524
3         Florida State Seminoles     21    15  0.714286
4     Georgia Tech Yellow Jackets     19     6  0.315789
5            Louisville Cardinals     20    11  0.550000
6           Miami (FL) Hurricanes     20     6  0.300000
7   North Carolina State Wolfpack     20    10  0.500000
8        North Carolina Tar Heels     20    17  0.850000
9       Notre Dame Fighting Irish     20     4  0.200000
10            Pittsburgh Panthers     20     4  0.200000
11                Syracuse Orange     20    11  0.550000
12             Virginia Cavaliers     20    17  0.850000
13           Virginia Tech Hokies     20    13  0.650000
14      Wake Forest Demon Deacons     19     4  0.210526

In [59]:
comb.drop(['Wins', 'Games'], axis=1, inplace=True)

In [60]:
comb

                            Teams    Rating
0           Boston College Eagles  0.263158
1                  Clemson Tigers  0.473684
2                Duke Blue Devils  0.809524
3         Florida State Seminoles  0.714286
4     Georgia Tech Yellow Jackets  0.315789
5            Louisville Cardinals  0.550000
6           Miami (FL) Hurricanes  0.300000
7   North Carolina State Wolfpack  0.500000
8        North Carolina Tar Heels  0.850000
9       Notre Dame Fighting Irish  0.200000
10            Pittsburgh Panthers  0.200000
11                Syracuse Orange  0.550000
12             Virginia Cavaliers  0.850000
13           Virginia Tech Hokies  0.650000
14      Wake Forest Demon Deacons  0.210526

In [61]:
final

    Rank                       HomeTeam  Total_Efficiency
0    1.0             Virginia Cavaliers          4.215675
1    2.0               Duke Blue Devils          2.424069
2    3.0       North Carolina Tar Heels          2.420768
3    4.0        Florida State Seminoles          1.796496
4    5.0           Virginia Tech Hokies          1.690387
5    6.0           Louisville Cardinals          1.446436
6    7.0                 Clemson Tigers          0.680526
7    8.0                Syracuse Orange          0.217265
8    9.0  North Carolina State Wolfpack         -0.783373
9   10.0          Miami (FL) Hurricanes         -1.169589
10  11.0          Boston College Eagles         -1.839914
11  12.0    Georgia Tech Yellow Jackets         -2.093191
12  13.0      Notre Dame Fighting Irish         -2.402352
13  14.0            Pittsburgh Panthers         -2.517563
14  15.0      Wake Forest Demon Deacons         -4.085642

In [62]:
final.columns = ['Rank','Teams','Efficieny']

In [63]:
output = pd.merge(final,comb,on=["Teams"],how='inner')

In [64]:
output.drop(['Efficieny'],inplace=True,axis=1)

In [65]:
output = output.round(2)

In [66]:
output.Rank = pd.Series(output.Rank,dtype=object)

In [67]:
output

   Rank                          Teams  Rating
0     1             Virginia Cavaliers    0.85
1     2               Duke Blue Devils    0.81
2     3       North Carolina Tar Heels    0.85
3     4        Florida State Seminoles    0.71
4     5           Virginia Tech Hokies    0.65
5     6           Louisville Cardinals    0.55
6     7                 Clemson Tigers    0.47
7     8                Syracuse Orange    0.55
8     9  North Carolina State Wolfpack    0.50
9    10          Miami (FL) Hurricanes    0.30
10   11          Boston College Eagles    0.26
11   12    Georgia Tech Yellow Jackets    0.32
12   13      Notre Dame Fighting Irish    0.20
13   14            Pittsburgh Panthers    0.20
14   15      Wake Forest Demon Deacons    0.21

In [93]:
output.to_csv('ACCRankings1819.csv',index=False)